 @font-face
{
	font-family: game;
	src: url('./fonts/PressStart2P.ttf');
} 

@font-face
{
	font-family: myname;
	src: url('./fonts/space.ttf');
}

body{
	background:rgba(17, 74, 116, 1);
}

#surround{
	width:1024px;
	height:100px;
	background:#000;
	margin:0px auto;
	position:absolute;
	bottom:-100px;
	left:0px;
	right:0px;
	overflow:hidden;
}

#flappy{
	box-shadow:5px 0 0 0 #2a2a2a,10px 0 0 0 #2a2a2a,15px 0 0 0 #2a2a2a,20px 0 0 0 #2a2a2a,25px 0 0 0 #2a2a2a,30px 0 0 0 #2a2a2a,-10px 5px 0 0 #2a2a2a,-5px 5px 0 0 #2a2a2a,0 5px 0 0 #FFF,5px 5px 0 0 #FFF,10px 5px 0 0 #FFF,15px 5px 0 0 #FFF,20px 5px 0 0 #2a2a2a,25px 5px 0 0 #FFF,30px 5px 0 0 #FFF,35px 5px 0 0 #2a2a2a,-15px 10px 0 0 #2a2a2a,-10px 10px 0 0 #FFF,-5px 10px 0 0 #FFF,0 10px 0 0 #f9f124,5px 10px 0 0 #f9f124,10px 10px 0 0 #f9f124,15px 10px 0 0 #2a2a2a,20px 10px 0 0 #FFF,25px 10px 0 0 #FFF,30px 10px 0 0 #FFF,35px 10px 0 0 #FFF,40px 10px 0 0 #2a2a2a,-25px 15px 0 0 #2a2a2a,-20px 15px 0 0 #2a2a2a,-15px 15px 0 0 #2a2a2a,-10px 15px 0 0 #2a2a2a,-5px 15px 0 0 #f9f124,0 15px 0 0 #f9f124,5px 15px 0 0 #f9f124,10px 15px 0 0 #f9f124,15px 15px 0 0 #2a2a2a,20px 15px 0 0 #FFF,25px 15px 0 0 #FFF,30px 15px 0 0 #FFF,35px 15px 0 0 #2a2a2a,40px 15px 0 0 #FFF,45px 15px 0 0 #2a2a2a,-30px 20px 0 0 #2a2a2a,-25px 20px 0 0 #fff,-20px 20px 0 0 #fff,-15px 20px 0 0 #fff,-10px 20px 0 0 #fff,-5px 20px 0 0 #2a2a2a,0 20px 0 0 #f9f124,5px 20px 0 0 #f9f124,10px 20px 0 0 #f9f124,15px 20px 0 0 #2a2a2a,20px 20px 0 0 #FFF,25px 20px 0 0 #FFF,30px 20px 0 0 #FFF,35px 20px 0 0 #2a2a2a,40px 20px 0 0 #FFF,45px 20px 0 0 #2a2a2a,-30px 25px 0 0 #2a2a2a,-25px 25px 0 0 #fff,-20px 25px 0 0 #fff,-15px 25px 0 0 #fff,-10px 25px 0 0 #fff,-5px 25px 0 0 #fff,0 25px 0 0 #2a2a2a,5px 25px 0 0 #f9f124,10px 25px 0 0 #f9f124,15px 25px 0 0 #f9f124,20px 25px 0 0 #2a2a2a,25px 25px 0 0 #FFF,30px 25px 0 0 #FFF,35px 25px 0 0 #FFF,40px 25px 0 0 #FFF,45px 25px 0 0 #2a2a2a,-30px 30px 0 0 #2a2a2a,-25px 30px 0 0 #f9f124,-20px 30px 0 0 #f9f124,-15px 30px 0 0 #f9f124,-10px 30px 0 0 #f9f124,-5px 30px 0 0 #f9f124,0 30px 0 0 #2a2a2a,5px 30px 0 0 #f9f124,10px 30px 0 0 #f9f124,15px 30px 0 0 #f9f124,20px 30px 0 0 #f9f124,25px 30px 0 0 #2a2a2a,30px 30px 0 0 #2a2a2a,35px 30px 0 0 #2a2a2a,40px 30px 0 0 #2a2a2a,45px 30px 0 0 #2a2a2a,50px 30px 0 0 #2a2a2a,-25px 35px 0 0 #2a2a2a,-20px 35px 0 0 #f9f124,-15px 35px 0 0 #f9f124,-10px 35px 0 0 #f9f124,-5px 35px 0 0 #2a2a2a,0 35px 0 0 #f9f124,5px 35px 0 0 #f9f124,10px 35px 0 0 #f9f124,15px 35px 0 0 #f9f124,20px 35px 0 0 #2a2a2a,25px 35px 0 0 #fd6649,30px 35px 0 0 #fd6649,35px 35px 0 0 #fd6649,40px 35px 0 0 #fd6649,45px 35px 0 0 #fd6649,50px 35px 0 0 #fd6649,55px 35px 0 0 #2a2a2a,-20px 40px 0 0 #2a2a2a,-15px 40px 0 0 #2a2a2a,-10px 40px 0 0 #2a2a2a,-5px 40px 0 0 #fcbc12,0 40px 0 0 #fcbc12,5px 40px 0 0 #fcbc12,10px 40px 0 0 #fcbc12,15px 40px 0 0 #2a2a2a,20px 40px 0 0 #fd6649,25px 40px 0 0 #2a2a2a,30px 40px 0 0 #2a2a2a,35px 40px 0 0 #2a2a2a,40px 40px 0 0 #2a2a2a,45px 40px 0 0 #2a2a2a,50px 40px 0 0 #2a2a2a,-20px 45px 0 0 #2a2a2a,-15px 45px 0 0 #fcbc12,-10px 45px 0 0 #fcbc12,-5px 45px 0 0 #fcbc12,0 45px 0 0 #fcbc12,5px 45px 0 0 #fcbc12,10px 45px 0 0 #fcbc12,15px 45px 0 0 #fcbc12,20px 45px 0 0 #2a2a2a,25px 45px 0 0 #fd6649,30px 45px 0 0 #fd6649,35px 45px 0 0 #fd6649,40px 45px 0 0 #fd6649,45px 45px 0 0 #fd6649,50px 45px 0 0 #2a2a2a,-15px 50px 0 0 #2a2a2a,-10px 50px 0 0 #2a2a2a,-5px 50px 0 0 #fcbc12,0 50px 0 0 #fcbc12,5px 50px 0 0 #fcbc12,10px 50px 0 0 #fcbc12,15px 50px 0 0 #fcbc12,20px 50px 0 0 #fcbc12,25px 50px 0 0 #2a2a2a,30px 50px 0 0 #2a2a2a,35px 50px 0 0 #2a2a2a,40px 50px 0 0 #2a2a2a,45px 50px 0 0 #2a2a2a,-5px 55px 0 0 #2a2a2a,0 55px 0 0 #2a2a2a,5px 55px 0 0 #2a2a2a,10px 55px 0 0 #2a2a2a,15px 55px 0 0 #2a2a2a,20px 55px 0 0 #2a2a2a;
	width:5px;
	height:5px;
	position:absolute;
	bottom:0px;
	background:rgb(42,42,42);
	animation:flap 2s infinite;
	animation-play-state : paused;
	transition:left 500ms;
	-webkit-animation:flap 2s infinite;
	-webkit-animation-play-state : paused;
	-webkit-transition:left 500ms;
}

#nav-flappy{
	position:absolute;
	bottom:400px;
	left:100px;
}

@keyframes flap{
	0%{bottom:0px;}
	50%{bottom:50px;}
	100%{bottom:0px;}
}
@-webkit-keyframes flap{
	0%{bottom:0px;}
	50%{bottom:50px;}
	100%{bottom:0px;}
}


#gamearea{
	width:1024px;
	min-width:1024px;
	max-width:1024px;
	max-height:720px;
	min-height:600px;
	background:#0099cc;
	margin:0px auto;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow-x:hidden;
	overflow-y:hidden;
	transition:background 1s;
	-webkit-transition:background 1s;
}

#pipe1-down{
	width:100px;
}

#floor{
	position:absolute;
	bottom:0px;
	left:0px;
	width:4000px;
	max-width:4000px;
	min-width:4000px;
	height:30px;
	min-height:30px;
	max-height:30px;
	overflow:hidden;
	word-wrap:no-wrap;
}
@keyframes move{
	0%{left:0px;}
	100%{left:-50px;}
}
@-webkit-keyframes move{
	0%{left:0px;}
	100%{left:-50px;}
}

.floor{
	width:5px;
	height:5px;
	display:inline-block;
	margin-right:50px;
	box-shadow:5px 0 0 0 #8EE46C,10px 0 0 0 #8EE46C,15px 0 0 0 #8EE46C,20px 0 0 0 #8EE46C,25px 0 0 0 #8EE46C,30px 0 0 0 #51A430,35px 0 0 0 #51A430,40px 0 0 0 #51A430,45px 0 0 0 #51A430,50px 0 0 0 #51A430,0 5px 0 0 #8EE46C,5px 5px 0 0 #8EE46C,10px 5px 0 0 #8EE46C,15px 5px 0 0 #8EE46C,20px 5px 0 0 #8EE46C,25px 5px 0 0 #51A430,30px 5px 0 0 #51A430,35px 5px 0 0 #51A430,40px 5px 0 0 #51A430,45px 5px 0 0 #51A430,50px 5px 0 0 #8EE46C,0 10px 0 0 #8EE46C,5px 10px 0 0 #8EE46C,10px 10px 0 0 #8EE46C,15px 10px 0 0 #8EE46C,20px 10px 0 0 #51A430,25px 10px 0 0 #51A430,30px 10px 0 0 #51A430,35px 10px 0 0 #51A430,40px 10px 0 0 #51A430,45px 10px 0 0 #8EE46C,50px 10px 0 0 #8EE46C,0 15px 0 0 #8EE46C,5px 15px 0 0 #8EE46C,10px 15px 0 0 #8EE46C,15px 15px 0 0 #51A430,20px 15px 0 0 #51A430,25px 15px 0 0 #51A430,30px 15px 0 0 #51A430,35px 15px 0 0 #51A430,40px 15px 0 0 #8EE46C,45px 15px 0 0 #8EE46C,50px 15px 0 0 #8EE46C,0 20px 0 0 #8EE46C,5px 20px 0 0 #8EE46C,10px 20px 0 0 #51A430,15px 20px 0 0 #51A430,20px 20px 0 0 #51A430,25px 20px 0 0 #51A430,30px 20px 0 0 #51A430,35px 20px 0 0 #8EE46C,40px 20px 0 0 #8EE46C,45px 20px 0 0 #8EE46C,50px 20px 0 0 #8EE46C,0 25px 0 0 #8EE46C,5px 25px 0 0 #51A430,10px 25px 0 0 #51A430,15px 25px 0 0 #51A430,20px 25px 0 0 #51A430,25px 25px 0 0 #51A430,30px 25px 0 0 #8EE46C,35px 25px 0 0 #8EE46C,40px 25px 0 0 #8EE46C,45px 25px 0 0 #8EE46C,50px 25px 0 0 #8EE46C,0 30px 0 0 #51A430,5px 30px 0 0 #51A430,10px 30px 0 0 #51A430,15px 30px 0 0 #51A430,20px 30px 0 0 #51A430,25px 30px 0 0 #8EE46C,30px 30px 0 0 #8EE46C,35px 30px 0 0 #8EE46C,40px 30px 0 0 #8EE46C,45px 30px 0 0 #8EE46C,50px 30px 0 0 #8EE46C;
	background:#8EE46C;
}

.mypipe{
	width:110px;
	height:180px;
	position:absolute;
	bottom:27px;
}
.mypipe2{
	width:110px;
	height:180px;
	position:absolute;
	bottom:227px;
}
.mypipe3{
	width:110px;
	height:80px;
	position:absolute;
	bottom:21px;
	overflow:hidden;
}

#pipe{
	left:350px;
}

#pipe2{
	left:800px;
}
#pipe3{
	left:950px;
}
#pipe4{
	left:3300px;
}
#pipe5{
	left:1900px;
}
#pipe6{
	left:4000px;
}
#pipe7{
	left:3100px;
}
#pipe8{
	left:2500px;
}
#pipe9{
	left:2850px;
}

@keyframes fadeout{
	from{opacity:1;}
	to{opacity:0;}
}
@-webkit-keyframes fadeout{
	from{opacity:1;}
	to{opacity:0;}
}



.neck-pipe{
	width:100px;
	height:30px;
	border:solid rgb(42,42,42) 3px;
	border-radius:2px;
	margin:0px auto;
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(left, #b4ddb4 0%, #9be041 0%, #e6ed68 30%, #00a813 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b4ddb4), color-stop(0%,#9be041), color-stop(30%,#e6ed68), color-stop(100%,#00a813)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* IE10+ */
	background: linear-gradient(to right, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#00a813',GradientType=1 ); /* IE6-9 */
}
.neck-body{
	width:80px;
	height:150px;
	border:solid rgb(42,42,42);
	border-width:0px 3px;
	border-radius:2px;
	margin:0px auto;
	background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(left, #b4ddb4 0%, #9be041 0%, #e6ed68 30%, #00a813 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b4ddb4), color-stop(0%,#9be041), color-stop(30%,#e6ed68), color-stop(100%,#00a813)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* IE10+ */
background: linear-gradient(to right, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#00a813',GradientType=1 ); /* IE6-9 */
}

.neck-body2{
	width:80px;
	height:350px;
	border:solid rgb(42,42,42);
	border-width:0px 3px;
	border-radius:2px;
	margin:0px auto;
	background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(left, #b4ddb4 0%, #9be041 0%, #e6ed68 30%, #00a813 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b4ddb4), color-stop(0%,#9be041), color-stop(30%,#e6ed68), color-stop(100%,#00a813)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* IE10+ */
background: linear-gradient(to right, #b4ddb4 0%,#9be041 0%,#e6ed68 30%,#00a813 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#00a813',GradientType=1 ); /* IE6-9 */
}

#name{
	font-family:game;
	text-align:center;
	position:relative;
	z-index: 100;
}

.main-title{
	font-size:70px;
	display:block;
	color:yellowgreen;
	text-shadow:2px 2px 0px yellow;
}



@keyframes bars{
	100%{transform:rotate(360deg);}
}
@-webkit-keyframes bars{
	100%{transform:rotate(360deg);}
}



#pl{
	position:absolute;
	bottom:400px;
	width:600px;
	min-width:600px;
	max-width:600px;
	left:5000px;
	animation:bugger 40s 10s forwards;
	-webkit-animation:bugger 40s 10s forwards;
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
}

@keyframes bugger{
	from{left:150%;}
	to{left:-100%;}
}

@-webkit-keyframes bugger{
	from{left:150%;}
	to{left:-100%;}
}

.pl-title{
	background:#9BFFF9;
	border:#051D77 solid 5px;
	position:absolute;
	font-family:game;
	font-size:40px;
	color:rgb(42,42,42);
	padding:10px;
	top:70px;
	left:0px;
	width:auto;

}

@keyframes bugs{
	0%{bottom:0px;}
	20%{bottom:200px;}
	50%{bottom:0px;}
	80%{bottom:-200px;}
	100%{bottom:0px;}
}
@-webkit-keyframes bugs{
	0%{bottom:0px;}
	20%{bottom:200px;}
	50%{bottom:0px;}
	80%{bottom:-200px;}
	100%{bottom:0px;}
}

.b1{
animation:bugs 5s linear infinite;
-webkit-animation:bugs 5s linear infinite;
}
.b2{
animation:bugs 5s 500ms linear infinite;
-webkit-animation:bugs 5s 500ms linear infinite;
}
.b3{
animation:bugs 5s 1000ms linear infinite;
-webkit-animation:bugs 5s 1000ms linear infinite;
}
.b4{
animation:bugs 5s 1500ms linear infinite;
-webkit-animation:bugs 5s 1500ms linear infinite;
}

.pl-bug{
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	width:10px;
	height:10px;
	background:gray;
	display:inline-block;
	margin-right:120px;
	position:relative;
	transform:scale(0.5);
	-webkit-transform:scale(0.5);
	box-shadow:0 -10px 0 0 #2a2a2a,10px -10px 0 0 #2a2a2a,20px -10px 0 0 #2a2a2a,30px -10px 0 0 #2a2a2a,40px -10px 0 0 #2a2a2a,-10px 0 0 0 #2a2a2a,10px 0 0 0 gray,20px 0 0 0 gray,30px 0 0 0 gray,40px 0 0 0 gray,50px 0 0 0 #2a2a2a,-20px 10px 0 0 #2a2a2a,-10px 10px 0 0 gray,0 10px 0 0 #FFF,10px 10px 0 0 gray,20px 10px 0 0 #FFF,30px 10px 0 0 gray,40px 10px 0 0 #FFF,50px 10px 0 0 gray,60px 10px 0 0 #2a2a2a,-30px 20px 0 0 #2a2a2a,-20px 20px 0 0 gray,-10px 20px 0 0 gray,0 20px 0 0 gray,10px 20px 0 0 gray,20px 20px 0 0 gray,30px 20px 0 0 gray,40px 20px 0 0 gray,50px 20px 0 0 gray,60px 20px 0 0 gray,70px 20px 0 0 #2a2a2a,-40px 30px 0 0 #2a2a2a,-30px 30px 0 0 gray,-20px 30px 0 0 gray,-10px 30px 0 0 gray,0 30px 0 0 gray,10px 30px 0 0 gray,20px 30px 0 0 gray,30px 30px 0 0 gray,40px 30px 0 0 gray,50px 30px 0 0 gray,60px 30px 0 0 gray,70px 30px 0 0 gray,80px 30px 0 0 #2a2a2a,-40px 40px 0 0 #2a2a2a,-30px 40px 0 0 #2a2a2a,-20px 40px 0 0 #2a2a2a,-10px 40px 0 0 #2a2a2a,0 40px 0 0 #2a2a2a,10px 40px 0 0 #2a2a2a,20px 40px 0 0 #2a2a2a,30px 40px 0 0 #2a2a2a,40px 40px 0 0 #2a2a2a,50px 40px 0 0 #2a2a2a,60px 40px 0 0 #2a2a2a,70px 40px 0 0 #2a2a2a,80px 40px 0 0 #2a2a2a,-20px 50px 0 0 #2a2a2a,20px 50px 0 0 #2a2a2a,60px 50px 0 0 #2a2a2a,-10px 60px 0 0 #2a2a2a,20px 60px 0 0 #2a2a2a,50px 60px 0 0 #2a2a2a;
}

.mushes1{
	bottom:95px;
	box-shadow:5px 0 0 0 #2a2a2a,10px 0 0 0 #2a2a2a,15px 0 0 0 #2a2a2a,20px 0 0 0 #2a2a2a,25px 0 0 0 #2a2a2a,-10px 5px 0 0 #2a2a2a,-5px 5px 0 0 #2a2a2a,0 5px 0 0 #FFF,5px 5px 0 0 #FFF,10px 5px 0 0 red,15px 5px 0 0 red,20px 5px 0 0 red,25px 5px 0 0 red,30px 5px 0 0 #2a2a2a,35px 5px 0 0 #2a2a2a,-15px 10px 0 0 #2a2a2a,-10px 10px 0 0 #FFF,-5px 10px 0 0 #FFF,0 10px 0 0 #FFF,5px 10px 0 0 #FFF,10px 10px 0 0 red,15px 10px 0 0 red,20px 10px 0 0 red,25px 10px 0 0 red,30px 10px 0 0 #FFF,35px 10px 0 0 #FFF,40px 10px 0 0 #2a2a2a,-20px 15px 0 0 #2a2a2a,-15px 15px 0 0 #FFF,-10px 15px 0 0 #FFF,-5px 15px 0 0 #FFF,0 15px 0 0 #FFF,5px 15px 0 0 red,10px 15px 0 0 red,15px 15px 0 0 red,20px 15px 0 0 red,25px 15px 0 0 red,30px 15px 0 0 red,35px 15px 0 0 #FFF,40px 15px 0 0 #FFF,45px 15px 0 0 #2a2a2a,-20px 20px 0 0 #2a2a2a,-15px 20px 0 0 red,-10px 20px 0 0 red,-5px 20px 0 0 red,0 20px 0 0 red,5px 20px 0 0 red,10px 20px 0 0 #FFF,15px 20px 0 0 #FFF,20px 20px 0 0 #FFF,25px 20px 0 0 #FFF,30px 20px 0 0 red,35px 20px 0 0 red,40px 20px 0 0 #FFF,45px 20px 0 0 #2a2a2a,-25px 25px 0 0 #2a2a2a,-20px 25px 0 0 red,-15px 25px 0 0 #FFF,-10px 25px 0 0 #FFF,-5px 25px 0 0 red,0 25px 0 0 red,5px 25px 0 0 #FFF,10px 25px 0 0 #FFF,15px 25px 0 0 #FFF,20px 25px 0 0 #FFF,25px 25px 0 0 #FFF,30px 25px 0 0 #FFF,35px 25px 0 0 red,40px 25px 0 0 red,45px 25px 0 0 red,50px 25px 0 0 #2a2a2a,-25px 30px 0 0 #2a2a2a,-20px 30px 0 0 #FFF,-15px 30px 0 0 #FFF,-10px 30px 0 0 #FFF,-5px 30px 0 0 #FFF,0 30px 0 0 red,5px 30px 0 0 #FFF,10px 30px 0 0 #FFF,15px 30px 0 0 #FFF,20px 30px 0 0 #FFF,25px 30px 0 0 #FFF,30px 30px 0 0 #FFF,35px 30px 0 0 red,40px 30px 0 0 red,45px 30px 0 0 red,50px 30px 0 0 #2a2a2a,-25px 35px 0 0 #2a2a2a,-20px 35px 0 0 #FFF,-15px 35px 0 0 #FFF,-10px 35px 0 0 #FFF,-5px 35px 0 0 #FFF,0 35px 0 0 red,5px 35px 0 0 #FFF,10px 35px 0 0 #FFF,15px 35px 0 0 #FFF,20px 35px 0 0 #FFF,25px 35px 0 0 #FFF,30px 35px 0 0 #FFF,35px 35px 0 0 red,40px 35px 0 0 red,45px 35px 0 0 #FFF,50px 35px 0 0 #2a2a2a,-25px 40px 0 0 #2a2a2a,-20px 40px 0 0 #FFF,-15px 40px 0 0 #FFF,-10px 40px 0 0 #FFF,-5px 40px 0 0 #FFF,0 40px 0 0 red,5px 40px 0 0 red,10px 40px 0 0 #FFF,15px 40px 0 0 #FFF,20px 40px 0 0 #FFF,25px 40px 0 0 #FFF,30px 40px 0 0 red,35px 40px 0 0 red,40px 40px 0 0 #FFF,45px 40px 0 0 #FFF,50px 40px 0 0 #2a2a2a,-25px 45px 0 0 #2a2a2a,-20px 45px 0 0 red,-15px 45px 0 0 #FFF,-10px 45px 0 0 #FFF,-5px 45px 0 0 red,0 45px 0 0 red,5px 45px 0 0 red,10px 45px 0 0 red,15px 45px 0 0 red,20px 45px 0 0 red,25px 45px 0 0 red,30px 45px 0 0 red,35px 45px 0 0 red,40px 45px 0 0 #FFF,45px 45px 0 0 #FFF,50px 45px 0 0 #2a2a2a,-25px 50px 0 0 #2a2a2a,-20px 50px 0 0 red,-15px 50px 0 0 red,-10px 50px 0 0 red,-5px 50px 0 0 #2a2a2a,0 50px 0 0 #2a2a2a,5px 50px 0 0 #2a2a2a,10px 50px 0 0 #2a2a2a,15px 50px 0 0 #2a2a2a,20px 50px 0 0 #2a2a2a,25px 50px 0 0 #2a2a2a,30px 50px 0 0 #2a2a2a,35px 50px 0 0 red,40px 50px 0 0 red,45px 50px 0 0 #FFF,50px 50px 0 0 #2a2a2a,-20px 55px 0 0 #2a2a2a,-15px 55px 0 0 #2a2a2a,-10px 55px 0 0 #2a2a2a,-5px 55px 0 0 #FFF,0 55px 0 0 #FFF,5px 55px 0 0 #2a2a2a,10px 55px 0 0 #FFF,15px 55px 0 0 #FFF,20px 55px 0 0 #2a2a2a,25px 55px 0 0 #FFF,30px 55px 0 0 #FFF,35px 55px 0 0 #2a2a2a,40px 55px 0 0 #2a2a2a,45px 55px 0 0 #2a2a2a,-15px 60px 0 0 #2a2a2a,-10px 60px 0 0 #FFF,-5px 60px 0 0 #FFF,0 60px 0 0 #FFF,5px 60px 0 0 #2a2a2a,10px 60px 0 0 #FFF,15px 60px 0 0 #FFF,20px 60px 0 0 #2a2a2a,25px 60px 0 0 #FFF,30px 60px 0 0 #FFF,35px 60px 0 0 #FFF,40px 60px 0 0 #2a2a2a,-15px 65px 0 0 #2a2a2a,-10px 65px 0 0 #FFF,-5px 65px 0 0 #FFF,0 65px 0 0 #FFF,5px 65px 0 0 #FFF,10px 65px 0 0 #FFF,15px 65px 0 0 #FFF,20px 65px 0 0 #FFF,25px 65px 0 0 #FFF,30px 65px 0 0 #FFF,35px 65px 0 0 #FFF,40px 65px 0 0 #2a2a2a,-10px 70px 0 0 #2a2a2a,-5px 70px 0 0 #FFF,0 70px 0 0 #FFF,5px 70px 0 0 #FFF,10px 70px 0 0 #FFF,15px 70px 0 0 #FFF,20px 70px 0 0 #FFF,25px 70px 0 0 #FFF,30px 70px 0 0 #FFF,35px 70px 0 0 #2a2a2a,-5px 75px 0 0 #2a2a2a,0 75px 0 0 #2a2a2a,5px 75px 0 0 #2a2a2a,10px 75px 0 0 #2a2a2a,15px 75px 0 0 #2a2a2a,20px 75px 0 0 #2a2a2a,25px 75px 0 0 #2a2a2a,30px 75px 0 0 #2a2a2a;
}

.mushes2{
	bottom:95px;
	box-shadow:5px 0 0 0 #2a2a2a,10px 0 0 0 #2a2a2a,15px 0 0 0 #2a2a2a,20px 0 0 0 #2a2a2a,25px 0 0 0 #2a2a2a,-10px 5px 0 0 #2a2a2a,-5px 5px 0 0 #2a2a2a,0 5px 0 0 #FFF,5px 5px 0 0 #FFF,10px 5px 0 0 yellowgreen,15px 5px 0 0 yellowgreen,20px 5px 0 0 yellowgreen,25px 5px 0 0 yellowgreen,30px 5px 0 0 #2a2a2a,35px 5px 0 0 #2a2a2a,-15px 10px 0 0 #2a2a2a,-10px 10px 0 0 #FFF,-5px 10px 0 0 #FFF,0 10px 0 0 #FFF,5px 10px 0 0 #FFF,10px 10px 0 0 yellowgreen,15px 10px 0 0 yellowgreen,20px 10px 0 0 yellowgreen,25px 10px 0 0 yellowgreen,30px 10px 0 0 #FFF,35px 10px 0 0 #FFF,40px 10px 0 0 #2a2a2a,-20px 15px 0 0 #2a2a2a,-15px 15px 0 0 #FFF,-10px 15px 0 0 #FFF,-5px 15px 0 0 #FFF,0 15px 0 0 #FFF,5px 15px 0 0 yellowgreen,10px 15px 0 0 yellowgreen,15px 15px 0 0 yellowgreen,20px 15px 0 0 yellowgreen,25px 15px 0 0 yellowgreen,30px 15px 0 0 yellowgreen,35px 15px 0 0 #FFF,40px 15px 0 0 #FFF,45px 15px 0 0 #2a2a2a,-20px 20px 0 0 #2a2a2a,-15px 20px 0 0 yellowgreen,-10px 20px 0 0 yellowgreen,-5px 20px 0 0 yellowgreen,0 20px 0 0 yellowgreen,5px 20px 0 0 yellowgreen,10px 20px 0 0 #FFF,15px 20px 0 0 #FFF,20px 20px 0 0 #FFF,25px 20px 0 0 #FFF,30px 20px 0 0 yellowgreen,35px 20px 0 0 yellowgreen,40px 20px 0 0 #FFF,45px 20px 0 0 #2a2a2a,-25px 25px 0 0 #2a2a2a,-20px 25px 0 0 yellowgreen,-15px 25px 0 0 #FFF,-10px 25px 0 0 #FFF,-5px 25px 0 0 yellowgreen,0 25px 0 0 yellowgreen,5px 25px 0 0 #FFF,10px 25px 0 0 #FFF,15px 25px 0 0 #FFF,20px 25px 0 0 #FFF,25px 25px 0 0 #FFF,30px 25px 0 0 #FFF,35px 25px 0 0 yellowgreen,40px 25px 0 0 yellowgreen,45px 25px 0 0 yellowgreen,50px 25px 0 0 #2a2a2a,-25px 30px 0 0 #2a2a2a,-20px 30px 0 0 #FFF,-15px 30px 0 0 #FFF,-10px 30px 0 0 #FFF,-5px 30px 0 0 #FFF,0 30px 0 0 yellowgreen,5px 30px 0 0 #FFF,10px 30px 0 0 #FFF,15px 30px 0 0 #FFF,20px 30px 0 0 #FFF,25px 30px 0 0 #FFF,30px 30px 0 0 #FFF,35px 30px 0 0 yellowgreen,40px 30px 0 0 yellowgreen,45px 30px 0 0 yellowgreen,50px 30px 0 0 #2a2a2a,-25px 35px 0 0 #2a2a2a,-20px 35px 0 0 #FFF,-15px 35px 0 0 #FFF,-10px 35px 0 0 #FFF,-5px 35px 0 0 #FFF,0 35px 0 0 yellowgreen,5px 35px 0 0 #FFF,10px 35px 0 0 #FFF,15px 35px 0 0 #FFF,20px 35px 0 0 #FFF,25px 35px 0 0 #FFF,30px 35px 0 0 #FFF,35px 35px 0 0 yellowgreen,40px 35px 0 0 yellowgreen,45px 35px 0 0 #FFF,50px 35px 0 0 #2a2a2a,-25px 40px 0 0 #2a2a2a,-20px 40px 0 0 #FFF,-15px 40px 0 0 #FFF,-10px 40px 0 0 #FFF,-5px 40px 0 0 #FFF,0 40px 0 0 yellowgreen,5px 40px 0 0 yellowgreen,10px 40px 0 0 #FFF,15px 40px 0 0 #FFF,20px 40px 0 0 #FFF,25px 40px 0 0 #FFF,30px 40px 0 0 yellowgreen,35px 40px 0 0 yellowgreen,40px 40px 0 0 #FFF,45px 40px 0 0 #FFF,50px 40px 0 0 #2a2a2a,-25px 45px 0 0 #2a2a2a,-20px 45px 0 0 yellowgreen,-15px 45px 0 0 #FFF,-10px 45px 0 0 #FFF,-5px 45px 0 0 yellowgreen,0 45px 0 0 yellowgreen,5px 45px 0 0 yellowgreen,10px 45px 0 0 yellowgreen,15px 45px 0 0 yellowgreen,20px 45px 0 0 yellowgreen,25px 45px 0 0 yellowgreen,30px 45px 0 0 yellowgreen,35px 45px 0 0 yellowgreen,40px 45px 0 0 #FFF,45px 45px 0 0 #FFF,50px 45px 0 0 #2a2a2a,-25px 50px 0 0 #2a2a2a,-20px 50px 0 0 yellowgreen,-15px 50px 0 0 yellowgreen,-10px 50px 0 0 yellowgreen,-5px 50px 0 0 #2a2a2a,0 50px 0 0 #2a2a2a,5px 50px 0 0 #2a2a2a,10px 50px 0 0 #2a2a2a,15px 50px 0 0 #2a2a2a,20px 50px 0 0 #2a2a2a,25px 50px 0 0 #2a2a2a,30px 50px 0 0 #2a2a2a,35px 50px 0 0 yellowgreen,40px 50px 0 0 yellowgreen,45px 50px 0 0 #FFF,50px 50px 0 0 #2a2a2a,-20px 55px 0 0 #2a2a2a,-15px 55px 0 0 #2a2a2a,-10px 55px 0 0 #2a2a2a,-5px 55px 0 0 #FFF,0 55px 0 0 #FFF,5px 55px 0 0 #2a2a2a,10px 55px 0 0 #FFF,15px 55px 0 0 #FFF,20px 55px 0 0 #2a2a2a,25px 55px 0 0 #FFF,30px 55px 0 0 #FFF,35px 55px 0 0 #2a2a2a,40px 55px 0 0 #2a2a2a,45px 55px 0 0 #2a2a2a,-15px 60px 0 0 #2a2a2a,-10px 60px 0 0 #FFF,-5px 60px 0 0 #FFF,0 60px 0 0 #FFF,5px 60px 0 0 #2a2a2a,10px 60px 0 0 #FFF,15px 60px 0 0 #FFF,20px 60px 0 0 #2a2a2a,25px 60px 0 0 #FFF,30px 60px 0 0 #FFF,35px 60px 0 0 #FFF,40px 60px 0 0 #2a2a2a,-15px 65px 0 0 #2a2a2a,-10px 65px 0 0 #FFF,-5px 65px 0 0 #FFF,0 65px 0 0 #FFF,5px 65px 0 0 #FFF,10px 65px 0 0 #FFF,15px 65px 0 0 #FFF,20px 65px 0 0 #FFF,25px 65px 0 0 #FFF,30px 65px 0 0 #FFF,35px 65px 0 0 #FFF,40px 65px 0 0 #2a2a2a,-10px 70px 0 0 #2a2a2a,-5px 70px 0 0 #FFF,0 70px 0 0 #FFF,5px 70px 0 0 #FFF,10px 70px 0 0 #FFF,15px 70px 0 0 #FFF,20px 70px 0 0 #FFF,25px 70px 0 0 #FFF,30px 70px 0 0 #FFF,35px 70px 0 0 #2a2a2a,-5px 75px 0 0 #2a2a2a,0 75px 0 0 #2a2a2a,5px 75px 0 0 #2a2a2a,10px 75px 0 0 #2a2a2a,15px 75px 0 0 #2a2a2a,20px 75px 0 0 #2a2a2a,25px 75px 0 0 #2a2a2a,30px 75px 0 0 #2a2a2a;

}

#mushroom{
	width:5px;
	height:5px;
	background:#424242;
	position:absolute;
	animation:mushroom 2s linear infinite;
	-webkit-animation:mushroom 2s linear infinite;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	left:470px;
}

#mushroom2{
	width:5px;
	height:5px;
	background:#424242;
	position:absolute;
	animation:mushroom 2s 1.5s linear infinite;
	-webkit-animation:mushroom 2s 1.5s linear infinite;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	right:-50px;
	
}

#mushroom2:hover{
	transform:translateY(-100px);
	-webkit-transform:translateY(-100px);
}
#mushcover{
	display:inline-block;
	width:100px;
	height:100px;
	position:relative;
	top:-20px;
	left:-20px;
}

@keyframes mushroom{
	0%{transform:translateX(0px);}
	100%{transform:translateX(300px);}
}
@-webkit-keyframes mushroom{
	0%{-webkit-transform:translateX(0px);}
	100%{-webkit-transform:translateX(300px);}
}


.clouds{
	width:5px;
	height:5px;
	background:#FFF;
	box-shadow:5px 0 0 #FFF,10px 0 0 #FFF,15px 0 0 #FFF,20px 0 0 #FFF,25px 0 0 #FFF,30px 0 0 #FFF,-5px 5px 0 #FFF,0 5px 0 #FFF,5px 5px 0 #FFF,10px 5px 0 #FFF,15px 5px 0 #FFF,20px 5px 0 #FFF,25px 5px 0 #FFF,30px 5px 0 #FFF,35px 5px 0 #FFF,-5px 10px 0 #FFF,0 10px 0 #FFF,5px 10px 0 #FFF,10px 10px 0 #FFF,15px 10px 0 #FFF,20px 10px 0 #FFF,25px 10px 0 #FFF,30px 10px 0 #FFF,35px 10px 0 #FFF,40px 10px 0 #FFF,-30px 15px 0 #FFF,-25px 15px 0 #FFF,-10px 15px 0 #FFF,-5px 15px 0 #FFF,0 15px 0 #FFF,5px 15px 0 #FFF,10px 15px 0 #FFF,15px 15px 0 #FFF,20px 15px 0 #FFF,25px 15px 0 #FFF,30px 15px 0 #FFF,35px 15px 0 #FFF,40px 15px 0 #FFF,45px 15px 0 #FFF,-35px 20px 0 #FFF,-30px 20px 0 #FFF,-25px 20px 0 #FFF,-20px 20px 0 #FFF,-15px 20px 0 #FFF,-10px 20px 0 #FFF,-5px 20px 0 #FFF,0 20px 0 #FFF,5px 20px 0 #FFF,10px 20px 0 #FFF,15px 20px 0 #FFF,20px 20px 0 #FFF,25px 20px 0 #FFF,30px 20px 0 #FFF,35px 20px 0 #FFF,40px 20px 0 #FFF,45px 20px 0 #FFF,-35px 25px 0 #FFF,-30px 25px 0 #FFF,-25px 25px 0 #FFF,-20px 25px 0 #FFF,-15px 25px 0 #FFF,-10px 25px 0 #FFF,-5px 25px 0 #FFF,0 25px 0 #FFF,5px 25px 0 #FFF,10px 25px 0 #FFF,15px 25px 0 #FFF,20px 25px 0 #FFF,25px 25px 0 #FFF,30px 25px 0 #FFF,35px 25px 0 #FFF,40px 25px 0 #FFF,45px 25px 0 #FFF,50px 25px 0 #FFF,-30px 30px 0 #FFF,-25px 30px 0 #FFF,-20px 30px 0 #FFF,-15px 30px 0 #FFF,-10px 30px 0 #FFF,-5px 30px 0 #FFF,0 30px 0 #FFF,5px 30px 0 #FFF,10px 30px 0 #FFF,15px 30px 0 #FFF,20px 30px 0 #FFF,25px 30px 0 #FFF,30px 30px 0 #FFF,35px 30px 0 #FFF,40px 30px 0 #FFF,45px 30px 0 #FFF,-25px 35px 0 #E0E0E0,-20px 35px 0 #E0E0E0,-15px 35px 0 #E0E0E0,-10px 35px 0 #E0E0E0,-5px 35px 0 #E0E0E0,0 35px 0 #E0E0E0,5px 35px 0 #E0E0E0,10px 35px 0 #E0E0E0,15px 35px 0 #E0E0E0,20px 35px 0 #E0E0E0,25px 35px 0 #E0E0E0,30px 35px 0 #E0E0E0,35px 35px 0 #E0E0E0,40px 35px 0 #E0E0E0,45px 35px 0 #E0E0E0;
	position:absolute;
}

#cloud-cluster1{
	position: absolute;
	width:1000px;
	height:100%;
	left:0px;
}
#cloud-cluster2{
	position: absolute;
	width:1000px;
	height:100%;
	left:1001px;
}
#cloud-cluster3{
	position: absolute;
	width:1000px;
	height:100%;
	left:2001px;
}
#cloud-cluster4{
	position: absolute;
	width:1000px;
	height:100%;
	left:3001px;
}
#cloud-cluster5{
	position: absolute;
	width:1000px;
	height:100%;
	left:4001px;
}

@keyframes cloud{
	from{transform:translateX(0px);}
	to{transform:translateX(-1000px);}
}
@-webkit-keyframes cloud{
	from{-webkit-transform:translateX(0px);}
	to{-webkit-transform:translateX(-1000px);}
}

.cloud-group .c1{
	left:100px;
	top:100px;
}
.cloud-group .c3{
	left:140px;
	top:80px;
}
.cloud-group .c4{
	left:175px;
	top:100px;
}

.g1{
	position:absolute;
	top:50px;
	left:50px;
}
.g2{
	position:absolute;
	top:200px;
	left:200px;
}

.g3{
	position:absolute;
	top:400px;
	left:100px;
}
.g4{
	position:absolute;
	top:50px;
	left:650px;
}
.g5{
	position:absolute;
	top:300px;
	left:700px;
}

.g6{
	position:absolute;
	top:400px;
	left:500px;
}


/*coin*/
.coin{
	width:80px;
	height:80px;
	bottom:250px;
	position:absolute;
	border:solid yellow 3px;
	border-radius: 50%;
	background: rgb(255, 188, 66);
	box-shadow: 0px 1px 1px orange;
	text-align: center;
	font-family: game;
	color:yellow;
	font-size: 60px;
	text-shadow:0px 2px 0px orange;
	line-height: 80px;
	cursor:pointer;
}

#coin1{
	left:810px;
}

.coin:hover{
	transform:scale(1.5);
	-webkit-transform:scale(1.5);
	-o-transform:scale(1.5);
}

.shine{
	width:10px;
	height:10px;
	background: yellow;
	position:absolute;
	top:5px;
	left:5px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	animation:large 1s infinite;
	-webkit-animation:large 1s infinite;
	-o-animation:large 1s infinite;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
	-o-animation-direction:alternate;
}

.button{
	border-radius:50%;
	width:90px;
	height:90px;
	margin:5px;
	font-family: game;
	color:#FFF;
	text-align:center;
	display:inline-block;
	overflow:hidden;
}

#button1{
	background:yellowgreen;
	font-size:25px;
	line-height:90px;
}
#button2{
	background:#9875FE;
	font-size:25px;
	line-height:90px;
}
#button3{
	background:#FE757F;
	font-size:25px;
	line-height:90px;
}

@keyframes large{
	from{width:10px;height:10px;}
	from{width:15px;height:15px;}
}
@-webkit-keyframes large{
	from{width:10px;height:10px;}
	from{width:15px;height:15px;}
}

#black-curtain{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.8);
	z-index: -1;
	opacity:0;
}

#message{
	width:600px;
	height:400px;
	margin:auto;
	top:0px;
	bottom: 0px;
	background:#FFF;
	position:absolute;
	left:calc(50% - 300px);
	font-family: arial;
	color:gray;
	text-align: center;
	font-family: game;
}

#message-close{
	font-size:50px;
	position:absolute;
	top:-20px;
	left:-20px;
}

.bold{
	font-weight: bold;
	color:#000;
}

@keyframes fadein{
	0%{z-index: -1;opacity:0;}
	10%{z-index: 100;opacity:0;}
	100%{z-index: 100;opacity:1;}
}
@keyframes fadeout1{
	0%{z-index: 100;opacity:1;}
	90%{z-index: 100;opacity:0;}
}	

@-webkit-keyframes fadein{
	0%{z-index: -1;opacity:0;}
	10%{z-index: 100;opacity:0;}
	100%{z-index: 100;opacity:1;}
}
@-webkit-keyframes fadeout1{
	0%{z-index: 100;opacity:1;}
	90%{z-index: 100;opacity:0;}
	100%{z-index: -1;opacity:0;}
}

#me{
	margin:5px;
	height:300px;
}

@keyframes fromrighttoleft{
	from{left:1024px;}
	to{left:-100px}
}
@-webkit-keyframes fromrighttoleft{
	from{left:1024px;}
	to{left:-100px}
}

@keyframes fadeinout{
	0%{opacity:0;}
	30%{opacity:1;}
	70%{opacity:1;}
	100%{opacity:0;}
}

/*directions*/
.direction{
	width:500px;
	font-size:30px;
	position:absolute;
	color:blue;
	font-family: game;
	background:#75FF88;
	padding:5px;
	border:solid blue 3px;
	box-shadow:3px 3px 0px rgb(42,42,42);
	text-align:center;
	left:calc(50% - 250px);
	top:20px;
}

#dir1{
	animation:fadeinout 3s 2s forwards;
	-webkit-animation:fadeinout 3s 2s forwards;
	-o-animation:fadeinout 3s 2s forwards;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
	-o-animation-direction:alternate;
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}
#dir2{
	animation:fadeinout 3s 5s forwards;
	-webkit-animation:fadeinout 3s 5s forwards;
	-o-animation:fadeinout 3s 5s forwards;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
	-o-animation-direction:alternate;
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}
#dir3{
	left:1300px;
}
#dir4{
	left:3800px;
}
#dir5{
	left:6000px;
}

.smaller{
	font-size:12px;
}


/*space-ship*/
.space-ship{
	width:5px;
	height:5px;
	background:red;
	position:absolute;
	box-shadow:0 -5px 0 #2a2a2a,-5px 0 0 #2a2a2a,5px 0 0 #2a2a2a,-10px 5px 0 #2a2a2a,-5px 5px 0 red,0 5px 0 red,5px 5px 0 red,10px 5px 0 #2a2a2a,-15px 10px 0 #2a2a2a,-10px 10px 0 red,-5px 10px 0 red,0 10px 0 red,5px 10px 0 red,10px 10px 0 red,15px 10px 0 #2a2a2a,-20px 15px 0 #2a2a2a,-15px 15px 0 red,-10px 15px 0 red,-5px 15px 0 red,0 15px 0 red,5px 15px 0 red,10px 15px 0 red,15px 15px 0 red,20px 15px 0 #2a2a2a,-25px 20px 0 #2a2a2a,-20px 20px 0 red,-15px 20px 0 red,-10px 20px 0 red,-5px 20px 0 red,0 20px 0 red,5px 20px 0 red,10px 20px 0 red,15px 20px 0 red,20px 20px 0 red,25px 20px 0 #2a2a2a,-30px 25px 0 #2a2a2a,-25px 25px 0 red,-20px 25px 0 red,-15px 25px 0 red,-10px 25px 0 red,-5px 25px 0 red,0 25px 0 red,5px 25px 0 red,10px 25px 0 red,15px 25px 0 red,20px 25px 0 red,25px 25px 0 red,30px 25px 0 #2a2a2a,-30px 160px 0 #2a2a2a,-25px 160px 0 red,25px 160px 0 red,30px 160px 0 #2a2a2a,-35px 165px 0 #2a2a2a,-30px 165px 0 red,-25px 165px 0 red,25px 165px 0 red,30px 165px 0 red,35px 165px 0 #2a2a2a,-40px 170px 0 #2a2a2a,-35px 170px 0 red,-30px 170px 0 red,-25px 170px 0 red,25px 170px 0 red,30px 170px 0 red,35px 170px 0 red,40px 170px 0 #2a2a2a,-45px 175px 0 #2a2a2a,-40px 175px 0 red,-35px 175px 0 red,-30px 175px 0 red,-25px 175px 0 red,25px 175px 0 red,30px 175px 0 red,35px 175px 0 red,40px 175px 0 red,45px 175px 0 #2a2a2a,-45px 180px 0 #2a2a2a,-40px 180px 0 red,-35px 180px 0 red,-30px 180px 0 red,-25px 180px 0 red,25px 180px 0 red,30px 180px 0 red,35px 180px 0 red,40px 180px 0 red,45px 180px 0 #2a2a2a,-45px 185px 0 #2a2a2a,-40px 185px 0 red,-35px 185px 0 red,-30px 185px 0 red,-25px 185px 0 red,25px 185px 0 red,30px 185px 0 red,35px 185px 0 red,40px 185px 0 red,45px 185px 0 #2a2a2a,-45px 190px 0 #2a2a2a,-40px 190px 0 #2a2a2a,-35px 190px 0 #2a2a2a,-30px 190px 0 #2a2a2a,-25px 190px 0 #2a2a2a,25px 190px 0 #2a2a2a,30px 190px 0 #2a2a2a,35px 190px 0 #2a2a2a,40px 190px 0 #2a2a2a,45px 190px 0 #2a2a2a;
}

.space-body{
	width:55px;
	height:60px;
	border:solid rgb(42,42,42);
	background:#DADADA;
	position:absolute;
	left:-30px;
	top:30px;
	border-width:5px 5px 0px 5px;
	z-index:10;
}
.space-body2{
	width:45px;
	height:60px;
	border:solid rgb(42,42,42);
	background:#C2C2C2;
	position:absolute;
	left:-25px;
	top:95px;
	border-width:0px 5px 5px 5px;
}
.space-body3{
	width:35px;
	height:30px;
	border:solid rgb(42,42,42);
	background:#B7B7B7;
	position:absolute;
	left:-20px;
	top:155px;
	border-width:0px 5px 5px 5px;
}

.lev{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
	position:relative;
	top:40px;
	left:5px;
	font-family: game;
	color:gray;
}
.lev2{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
	position:relative;
	top:40px;
	left:15px;
	font-family: game;
	color:gray;
}

.banner{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform-origin:0% 0%;
	-webkit-transform-origin:0% 0%;
	/*animation:smoke 500ms infinite;
	animation-direction:alternate;*/
	font-family: game;
	font-size:30px;
	position:absolute;
	left:30px;
	top:50px;
	color:yellow;
	text-shadow:3px 3px 0px orange;
}

@keyframes smoke{
	from{text-shadow:0px 0px 15px yellow}
	to{text-shadow:0px 0px 5px yellow}
}

#space1{
	left:00px;
	top:10px;
}
#space2{
	left:110px;
	top:50px;
}
#space3{
	left:230px;
	top:100px;
}
#space4{
	left:350px;
	top:150px;
}
#space5{
	left:450px;
	top:200px;
}

#space-suit{
	transform:rotate(-90deg);
	transform-origin:100% 100%;
	-webkit-transform:rotate(-90deg);
	-webkit-transform-origin:100% 100%;
	position: absolute;
	left:2100px;
	top:500px;
}


#music-cloud{
	left:1300px;
	top:100px;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
}



/* ocean */
.ocean{
	position:absolute;
	left:3300px;
	bottom:-2px;
	width:5500px;
}

.ocean-ripple{
	background:#A3DBEE;
	width:5px;
	height:5px;
	display: inline-block;
	margin-right:25px;
	white-space: nowrap;
	box-shadow: 5px 0px 0px #A3DBEE,10px 0px 0px #5BCBF0,15px 0px 0px #5BCBF0,20px 0px 0px #5BCBF0,25px 0px 0px #5BCBF0,30px 0px 0px #5BCBF0,35px 0px 0px #5BCBF0,40px 0px 0px #A3DBEE,5px -5px 0px #A3DBEE,10px -5px 0px #A3DBEE,15px -5px 0px #5BCBF0,20px -5px 0px #5BCBF0,25px -5px 0px #5BCBF0,30px -5px 0px #5BCBF0,35px -5px 0px #A3DBEE,10px -10px 0px #A3DBEE,15px -10px 0px #5BCBF0,20px -10px 0px #5BCBF0,25px -10px 0px #5BCBF0,30px -10px 0px #A3DBEE,15px -15px 0px #A3DBEE,20px -15px 0px #5BCBF0,25px -15px 0px #A3DBEE,20px -20px 0px #A3DBEE;
}

.otherinfo{
	position:absolute;
	left:3900px;
	top:50px;
	border:solid yellowgreen 5px;
}
/*boat */
.upper{
	height:5px;
	background:rgb(42,42,42);
	width:315px;
	position:relative;
	left:-5px;
}

.boat{
	width:400px;
	position:absolute;
}

.boat1{
	left:4100px;
	bottom:10px;
}
.boat2{
	left:4450px;
	bottom:10px;
}

.boat .black{
	width:5px;
	height:5px;
	background:rgb(42,42,42);
}

.boat .bor{
	border-left:solid 5px rgb(42,42,42);
	border-right:solid 5px rgb(42,42,42);
}

.bname{
	height:10px;
	background:#00FF0F;
	width:305px;
	position:relative;
	left:-5px;
	border-bottom:solid 5px rgb(42,42,42);
}

.boat .bs{
	box-shadow:inset 0px 1px 5px #000;
}

.boat .top{
	width:15px;
	height:15px;
	border:solid rgb(42,42,42) 5px;
	border-radius:50%;
	position:absolute;
	top:-20px;
	left:-8px;
	background:#D4D4D4;
}

.boat .sail{
	position:absolute;
	width:0px;
	border-width:0px 0px 280px 200px;
	border-style:solid;
	border-left-color:transparent;
	height:0px;
}

.boat .sail101{
	border-bottom-color:pink;
}

.boat .sail102{
	border-bottom-color:#A020F0;
}
.boat .sail2{
	position:absolute;
	width:0px;
	left:220px;
	border-width:0px 100px 280px 0px;
	border-style:solid;
	border-right-color:transparent;
	height:0px;
}

.boat .salva{
	width:10px;
	height:10px;
	border:solid #FFE600 5px;
	margin-left:30px;
	top:10px;
	display:inline-block;
	position:relative;
	border-radius:50%;
	box-shadow:2px 2px 0px red;
}

.boat .green{
	background:yellowgreen !important;
}
.boat .yellow{
	background:#FF6400 !important;
}

.boat .bt1{
	width:300px;
	height:5px;
}

.boat .bt2{
	width:295px;
	height:5px;
	margin-left:5px;
}
.boat .bt3{
	width:285px;
	height:5px;
	margin-left:10px;
}
.boat .bt4{
	width:280px;
	height:5px;
	margin-left:15px;
}
.boat .bt5{
	width:270px;
	height:5px;
	margin-left:20px;
}
.boat .bt6{
	width:265px;
	height:5px;
	margin-left:25px;
}
.boat .bt7{
	width:255px;
	height:5px;
	margin-left:30px;
}
.boat .bt8{
	width:250px;
	height:5px;
	margin-left:35px;
}

.boat .skillko{
	font-family:game;
	text-shadow:0px 2px 0px blue; 
	position:absolute;
	right:0px;
	top:20px;
	transform-origin:100% 100%;
	transform:rotate(-55deg);
	-webkit-transform-origin:100% 100%;
	-webkit-transform:rotate(-55deg);
}

.skill1{
	font-size:30px;
	white-space:nowrap;
	color:#FF00F4;
}
.skill2{
	font-size:20px;
	white-space:nowrap;
	color:#FFF;
}

.boat-pole{
	height:300px;
	width:10px;
	background:#FF75F7;
	margin-left:200px;
	border-top:solid rgb(42,42,42) 5px;
	border-left:solid rgb(42,42,42) 5px;
	border-right:solid rgb(42,42,42) 5px;
	position:relative;
}
/*moby*/
.moby-dick{
	width:700px;
	height:290px;
	overflow:hidden;
	position:absolute;
	bottom:0px;
	left:5900px;
	transition:bottom 1s;
	-webkit-transition:bottom 1s;
}

.moby-eye{
	width:20px;
	height:20px;
	background:#FFF;
	border-radius:50%;
	position:relative;
	top:-230px;
	left:200px;
	/*animation:blink 1500ms 1200ms infinite;
	-webkit-animation:blink 1500ms 1200ms infinite;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;*/
}

@keyframes blink{
	from{height:20px;}
	to{height:5px;}
}
@-webkit-keyframes blink{
	from{height:20px;}
	to{height:5px;}
}

.fin{
	background:#114a74;
	width:150px;
	height:150px;
	border-radius:40%;
	position:relative;
	top:-180px;
	left:650px;
	box-shadow:-60px 0px 0px #03005E;
}

.moby{
	width:600px;
	height:0px;
	background:#03005E;
	border-top:solid 400px #03005E;
	border-top-left-radius:100%;
	border-top-right-radius:300%;
}



#label2{
	position:absolute;
	font-family:game;
	color:#8DD6EF;
	top:100px;
	text-align:center;
	font-size:30px;
	left:7800px;
	width:600px;
	background:rgba(0,0,0,0.5);
	padding:10px;
}

#label2 h1{
	font-size:40px;
	color:#A0EF8D;
}

#label2 a{
	text-decoration:none;
	color:#A0EF8D;
	transition:transform 100ms;
}

#label3{
	position:absolute;
	font-family:game;
	color:#8DD6EF;
	top:100px;
	text-align:center;
	font-size:20px;
	left:8700px;
	width:600px;
	background:rgba(0,0,0,0.5);
	padding:10px;
}

#label3 h1{
	font-size:40px;
	color:#A0EF8D;
}

#label3 a{
	text-decoration:none;
	color:#A0EF8D;
	transition:transform 100ms;
}

#label3 a:hover{
	transform:scale(2);
	color:#E6EF8D;
}

#label2 a:visited{
	color:#A0EF8D;
}


#boat1{
	animation:rowrow 4s infinite;
	animation-play-state:paused;
	-webkit-animation:rowrow 4s infinite;
	-webkit-animation-play-state:paused;
}

#boat2{
	animation:rowrow 4s 1s infinite;
	animation-play-state:paused;
	-webkit-animation:rowrow 4s 1s infinite;
	-webkit-animation-play-state:paused;
}

@keyframes rowrow{
	0%{bottom:10px;left:4100;}
	30%{bottom:0px;left:4050;}
	70%{bottom:0px;left:4150;}
	100%{bottom:10px;left:4100;}
}
@-webkit-keyframes rowrow{
	0%{bottom:10px;left:4100;}
	30%{bottom:0px;left:4050;}
	70%{bottom:0px;left:4150;}
	100%{bottom:10px;left:4100;}
}

#label5{
	left:10500px !important;
}


#label4,#label5{
	position:absolute;
	font-family:game;
	color:#8DD6EF;
	top:50px;
	text-align:center;
	font-size:20px;
	left:9700px;
	width:600px;
	background:rgba(0,0,0,0.5);
	padding:10px;
}

#label4 h1,#label5 h1{
	font-size:40px;
	color:#A0EF8D;
}

#label4 a,#label5 a{
	text-decoration:none;
	color:orange;
	transition:transform 100ms;
}

#label4 a:hover,#label5 a:hover{
	transform:scale(2);
	color:#E6EF8D;
}

#labe4 a:visited,#labe5 a:visited{
	color:#A0EF8D;
}

