body{
background-image:url("./inertia-bg.png");
background-color:#424242;
}

.main-title{
	font-size:90px;
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	text-shadow:0px 1px 0px gray;
}

.main-body{
	background:#FFF;
	padding:10px;
	font-size:20px;
	color:#424242;
	font-family: 'Oswald', sans-serif;
}

.main-wrapper{
	padding:50px;
}

.archive{
	width:300px;
	height:300px;
	background-color:#FFF;
	border:solid #424242 1px;
	border-radius:5px;
	margin:10px;
	box-shadow:0px 2px 10px #000;
	display:inline-block;
	background-size:cover !important;
	overflow:hidden;
}

.archive:hover > .pop-message{
	opacity:1;
} 

.pop-message{
	background-color:#000;
	color:#FFF;
	font-family: 'Oswald', sans-serif;
	opacity:0;
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	transition:opacity 1s;
	padding:5px;
}


footer{
	background:#000;
	color:#FFF;
}

footer ul li,a{
	font-family: 'Oswald', sans-serif;
	padding:5px;
}

a{
	color:#0099CC;
}

a:hover{
	color:orange !important;
}
a:visited{
	color:#0099CC;
}

footer ul{
	padding:20px;
}

